@import 'reset.less';
@import 'flex/vars.less';
@import 'flex/typo.less';
@import 'flex/grid.less';
@import 'flex/marginClasses.less';
@import 'flex/borderClasses.less';
@import 'forms.less';
@import 'components.less';

li{
  list-style-type: none;
}
.products {
  overflow-y: scroll;
  max-height: 100%;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
}

.hidden{
  display: none;
}

.pointer{
  cursor: pointer;
}