<h1> {{list.$id}}</h1>
<button ng-click="toggleProducts()">Produkte zur Liste</button>
<h2 class="b-b">noch in den korb</h2>
<ul>
    <li ng-repeat="item in list.toAdd">
        <div class="p-s pointer" ng-click="addToBasket(item, $index)">
            {{item.product.name}} {{item.amount}}
        </div>
    </li>
</ul>
<h2 class="b-b">schon dabei</h2>
<ul>
    <li ng-repeat="item in list.alreadyAdded">
        <div class="p-s pointer" ng-click="removeFromBasket(item, $index)">
            {{item.product.name}} {{item.amount}}
        </div>
    </li>
</ul>
<div class="flex m-b-1">
    <a href="" class="p b grow" ng-click="clearItems()">Liste Leeren</a>
</div>
<div class="flex m-b-1">
    <a href="" class="p b grow" ng-click="destroyList()">Liste löschen</a>
</div>
<div class="products" ng-if="showProducts">
    <div class="flex m-b-1">
        <a href="" class="p b grow" ng-click="toggleProducts()">Fertig</a>
    </div>
    <products></products>
</div>
