<h1>Listen wuhuhu</h1>

<form name="addProductToList" ng-submit="addList()">
    <input required type="number" ng-model="newProduct" placeholder="Anzahl hinzufügen" type="text"/><button type="submit"> HINZUFÜGEN</button>
</form>
<form name="addProduct" ng-submit="addList()">
    <input
        required
        ng-model="newProduct"
        ng-change="filterProducts(newProduct)"
        placeholder="Produkt hinzufügen"
        type="text"/>
        <button type="submit"> HINZUFÜGEN</button>
</form>

<ul>
    <li ng-repeat="product in filteredProducts ">
        {{product.name}}
    </li>
</ul>