<form class="flex" ng-if="showAmount" name="addProductToListForm" ng-submit="addProductToList(selectedProduct, selectedProductAmount)">
    <div class="m-t-2" ng-if="selectedProductAmount">
        {{selectedProduct.name}} - {{selectedProductAmount}} mal zur Liste
    </div>
    <input class="grow" required id="productAmount" type="text" ng-model="selectedProductAmount" placeholder="Anzahl hinzufügen" type="text"/><button type="submit"> HINZUFÜGEN</button>
</form>
<form class="flex" name="addProduct" ng-submit="addProduct()">
    <input
        required
        id="productName"
        class="grow"
        ng-model="newProductName"
        ng-change="filterProducts(newProductName)"
        placeholder="Produkt hinzufügen"
        type="text"/>
        <button type="submit"> HINZUFÜGEN</button>
</form>

<ul>
    <li  class="pointer p-s b-b" ng-click="selectProduct(product)" ng-repeat="product in filteredProducts track by product.$id ">
        {{product.name}}
    </li>
</ul>
