
<div class="item item-input-inset">
    <label class="item-input-wrapper">
        <input required type="text" ng-model="newName"
               placeholder="Liste hinzufügen">
    </label>
    <button ng-click="addList()" class="button button-small">
        HINZUFÜGEN
    </button>
</div>
<ion-content>
    <ion-list can-swipe="true">
        <ion-item >
            ...
        </ion-item>
        <ion-item ng-if="loading">
            Listen werden geladen ...
        </ion-item>
        <ion-item ng-repeat="list in lists" class="item-button-right">
            <a ng-href="#/list/{{::list.name}}">{{::list.name}}</a>

            <ion-option-button class="button-info"
                               ng-click="lists.$remove(list)">
                löschen
            </ion-option-button>
        </ion-item>

    </ion-list>
</ion-content>