<ion-content>
    <ion-list>
        <ion-item>
            <div ng-click="home()"> zurück </div>
        </ion-item>
        <div  class="item item-input-inset">
            <h1 class="title">{{list.$id}}</h1>
        </div>
        <ion-item>
            <div ng-click="toggleProducts()">Produkte zur Liste</div>
        </ion-item>
        <div class="item item-divider">
            noch in den korb
        </div>
        <ion-item ng-repeat="item in list.toAdd">
            <div ng-click="addToBasket(item, $index)">
                {{item.product.name}} {{item.amount}}
            </div>
        </ion-item>


        <div class="item item-divider">
            schon dabei
        </div>
        <ion-item ng-repeat="item in list.alreadyAdded">
            <div ng-click="removeFromBasket(item, $index)">
                {{item.product.name}} {{item.amount}}
            </div>
        </ion-item>
        <div class="item item-divider">
            Optionen
        </div>
        <ion-item>
            <div ng-click="clearItems()">Liste Leeren</div>
        </ion-item>
        <ion-item>
            <div ng-click="destroyList()">Liste löschen</div>
        </ion-item>
        <div class="item item-divider">
        </div>
        <div class="item item-divider">
        </div>
    </ion-list>
</ion-content>



