<ion-content>
    <ion-list can-swipe="true">
        <ion-item>
            <div ng-click="listController.home()"> zurück </div>
        </ion-item>
        <div  class="item item-input-inset">
            <h1 class="title">{{listController.list.name}}</h1>
        </div>
        <ion-item>
            <div ng-click="listController.toggleProducts()">Produkte zur Liste</div>
        </ion-item>
        <div class="item item-divider">
            noch in den korb
        </div>
        <ion-item ng-repeat="item in listController.list.items.toAdd">
            <div ng-click="listController.list.addToBasket(item, $index)">
                {{item.product.name}} {{item.amount}}
            </div>
            <ion-option-button class="button-info" ng-click="listController.list.clearSingle($index, 'toAdd')">
                löschen
            </ion-option-button>
        </ion-item>


        <div class="item item-divider">
            schon dabei
        </div>
        <ion-item ng-repeat="item in listController.list.items.alreadyAdded">
            <div ng-click="listController.list.removeFromBasket(item, $index)">
                {{item.product.name}} {{item.amount}}
            </div>
            <ion-option-button class="button-info" ng-click="listController.list.clearSingle($index, 'alreadyAdded')">
                löschen
            </ion-option-button>
        </ion-item>
        <div class="item item-divider">
            Optionen
        </div>
        <ion-item>
            <div ng-click="listController.list.clearProducts()">Liste Leeren</div>
        </ion-item>
        <ion-item>
            <div ng-click="listController.list.destroyList()">Liste löschen</div>
        </ion-item>
        <div class="item item-divider">
        </div>
        <div class="item item-divider">
        </div>
    </ion-list>
</ion-content>



