    <ion-item ng-click="back()">
    zurück
</ion-item>
    <form name="addProduct" ng-submit="addProduct()">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input  type="text"
                        required
                        id="productName"
                        class="grow"
                        ng-model="newProductName"
                        ng-change="filterProducts(newProductName)"
                        placeholder="Produkt hinzufügen" />
            </label>
        </div>
    </form>
    <form ng-if="showAmount" name="addProductToListForm" ng-submit="addProductToList(selectedProduct, selectedProductAmount)">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-add placeholder-icon"></i>
                <input required id="productAmount" ng-model="selectedProductAmount" placeholder="Anzahl hinzufügen" type="text"/>
            </label>
        </div>
        <ion-item ng-if="selectedProductAmount">
            {{selectedProduct.name}} - {{selectedProductAmount}} mal zur Liste
        </ion-item>
    </form>
<ion-content>
    <ion-list>
        <div class="item">
            ...
        </div>
        <div class="item">
            ...
        </div>
        <ion-item ng-click="selectProduct(product)" ng-repeat="product in filteredProducts | limitTo:15 track by product.$id" class="item-button-right">
            {{product.name}}
            <button ng-click="product.$remove(product.$id)"  class="button button-negative">
                <i class="icon ion-android-delete"></i>
            </button>
        </ion-item>
    </ion-list>
</ion-content>